<!DOCTYPE html>
<html>
<head>
    <title>Регистрация</title>
    <meta charset="utf-8" />
    <style>.field{width:180px;}</style>
</head>
<body>
    <h1>Регистрация пользователя</h1>
     <form method="POST">
        <label>Имя</label><br>
        <input name="name" class="field"/><br><br>
        <label>Пароль</label><br>
        <input name="password" type="password" class="field" min="1" max="110" /><br><br>
        <input type="submit" value="Отправить" />
     </form>
     <a href="/">Назад</a>
</body>
<html>