<!DOCTYPE html>
<html>
<head>
    <title>Задачи</title>
    <meta charset="utf-8" />
    <style>.field{width:180px;}</style>
</head>
<body>
    <h1>Добавить задачу</h1>
     <form method="POST">
        <label>Что необходимо сделать?</label><br>
        <textarea name="value" class="field"></textarea><br><br>
        <input type="submit" value="Добавить" />
     </form>
     <a href="/">На главную</a>
</body>
<html>