<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
   <h1>Добро пожаловать, {{fullName}}</h1>
    <form method="POST">
        <label>Имя {{fullName}}</label><br>
        <label>Email {{email}}</label><br>
        <label>Дата рождения {{dob}}</label><br>
        <input type="submit" value="Отправить" />
    </form>
    <a href="/">На главную</a>
</body>
</html>